.button {
    width: 142px;
    height: 32px;
    border-radius: 5px;
    background: #18c576;
    border: none;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
        background-color: #ff6f91; 
        transform: scale(1.05);
      }

    &--full {
        position: absolute;
        left: 114%;
        top: 410%;
    }

    &--wide {
        margin-left: 8px;
    }

    &--standart {
        width: 160px;
        height: 32px;
        margin-bottom: 12px;
    }

    &--modal {
        position: absolute;
        right: 13px;
        width: 106px;
        height: 32px;
        bottom: 12px;
    }
}