.products-section {
    display: flex;
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        /* Отступы между карточками */
    }
}

.product-card {
    border-radius: 5px;
    overflow: hidden;


    &--full {
        margin-left: 120px;
    }
    &--wide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &--standard {
        width: 184px;
        height: 328px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    &__image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--full {
            width: 387px;
            /* Исправленный размер для полной карточки */
            height: 328px;
        }

        &--standard {
            width: 184px;
            height: 183px;
        }
    }

    &__labels {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        font-size: 20px;
    }

   
}