@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/inter_bold.woff2') format('woff2'), 
         url('../fonts/inter_bold.woff') format('woff');  
    font-weight: bold;
    font-style: normal;
  }
  