@media (max-width: 991px) {
    .video {
        padding: 64px;
        min-height: 0;
    }

    .video__wrapper {
        height: 337px;
        width: 100%;
    }

    .products-section {
        display: none;

        &--tablet {
            display: block;
        }

        &__container--tablet {
            display: flex;
            margin-top: 19px;
        }


    }


    .product-card__image-wrapper--standart.product-card__image-wrapper--tablet {
        height: 181px;
        width: 181px;
    }

    .product-card.product-card--full.product-card--tablet {
        width: 382px;
        height: 328px;
        margin-left: 57px;
    }

    .product-card__title.product-card__title--tablet {
        margin: 0;
    }

    .product-card__title.product-card__title--tablet.product-card__title--tablet--standart {
        margin-top: 14px;
        font-size: 14px;
        margin-left: 10px;
    }

    .product-card__price.product-card__price--tablet.product-card__price--tablet--standart {
        color: black;
    }

    .button.button--standart.button--standart--tablet {
        width: 157px;
        height: 32px;
        margin-right: 12px;
    }

    .product-card__price-container--standart.product-card__price-container--standart--tablet {
        margin-top: 28px;
    }

    .product-card__price.product-card__price--standart.product-card__price--standart--tablet {
        margin: 0;
        margin-right: 12px;
        margin-bottom: 8px;
    }



    .button.button--wide.button--wide--tablet {
        margin-left: 9px;
        margin-right: 18px;
    } 

    .product-card--full {
        margin: 0;
    }

}

@media (max-width: 575px) {
    .video {
        margin-bottom: 48px;
        min-height: 0;
        padding: 0;
    }

    .video__wrapper {
        width: 328px;
        /* Исправляем на 100%, чтобы контент заполнил весь контейнер */
        height: 204px;
    }

    .products-section {
        display: block;
    }

    .products-section--tablet {
        display: none;
    }

    .products-section__row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        /* Центрируем карточки */
    }

    .product-card {
        width: 100%;
        /* Чтобы карточка занимала всю ширину */
        max-width: none;
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }

    .product-card--full,
    .product-card--wide {
        width: 100%;
    }

    .product-card__image-wrapper {
        width: 100%;
        /* Карточки заполняют всю ширину контейнера */
        height: 328px;
        background-size: cover;
        /* Обеспечиваем правильное отображение фоновых изображений */
        background-position: center;
    }


    .button {
        margin-top: 14px;
        width: 296px;
        height: 32px;
        margin-bottom: 14px;
        &:hover {
            transform: none;
        }
    }

    .button--wide {
        margin-left: -40px;
    }

    .button.button--wide.button--wide--mobile {
        margin-left: -60px;
    }

    .button.button--wide.button--wide--full {
        margin-left: -48px;
    }

    .button.button--modal {
        position: absolute;
        width: 106px;
        margin: 0;

    }

    .modal__content {
        width: 100%;
    }

    .modal__close {
        right: 0;
        color: black;
    }

    .modal__input {
        width: 315px;
    }

    .modal__title {
        font-size: 15px;
    }

    .modal__form {
        margin-top: -3px;
    }


    

    
    .product-card--standard {
        display: none;
    }

    
    .product-card--full {
        display: block !important;
        width: 328px;
        height: 328px;  
        margin: 0;
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }

    .product-card--wide {
        width: 328px;
        height: 175px;
    }

    .product-card__labels--wide {
        position: absolute;
        top: 53px;
        left: 12px;
        display: flex;
    }


    .product-card__image-wrapper:hover {
        height: 328px;
    }

    .product-card__image-wrapper--wide-one {
        height: 175px;
    }

    .product-card__image-wrapper--wide-two {
        height: 175px;
    }


    .product-card__price.product-card__price--wide-two {
        margin: 0;
        margin-left: 70px;
        margin-bottom: -8px;
    }

    .product-card__price.product-card__price--wide-two.product-card__price--wide-two--mobile {
        margin-left: 85px;
    }

    .product-card__price-container {
        display: flex;
        position: absolute;
        left: 20%;
        bottom: 1px;
        flex-direction: column;
    }

    .products-slider {
        display: block;
        overflow: hidden;
        max-width: 100%;
        padding: 10px 0;
    }

    .products-slider__container {
        display: flex;
        transition: transform 0.3s ease;
        /* Плавная анимация для слайда */
        will-change: transform;
    }

    /* Стили для карточек с модификатором --slider */
    .product-card--slider {
        display: block;
        min-width: 250px;
        height: 410px;
        margin-right: 16px;
        /* Отступ между карточками */
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
        transition: opacity 0.3s ease;
        opacity: 1;
        padding: 0;
        margin: 0;
        margin-left: 28px;

        &.inactive {
            opacity: 0.5; // Прозрачность для неактивных карточек
        }
    }

    .product-card__image-wrapper--slider {
        position: relative;
        overflow: hidden;
    }

    .product-card__image--slider {
        width: 100%;
        height: 230px;
    }

    .product-card__labels--slider {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
    }

    .product-card__label--slider {
        background-color: #ff6a00;
        color: #fff;
        font-size: 12px;
        padding: 3px 6px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .product-card__label--discount {
        height: 20px;
        width: 65px;
        padding-top: 7px;
    }

    .product-card__labels--wide.product-card__labels--wide--full {
        top: 60px;
    }

    .product-card__label--discount.product-card__label--discount-wide {
        margin-right: 4px;
    }

    .product-card__label--discount.product-card__label--discount-full {
        margin-right: 4px;
    }

    .product-card__label--day.product-card__label--day {
        width: 90px;
        margin-top: -3px;
    }

    .product-card__label--sale.product-card__label--sale-wide {
        width: 104px;
        margin-top: -1px;
    }

    .icon-container.icon-container--mobile {
        right: 70px;
    }

    .product-card__title--slider {
        width: 200px;
        height: 25px;
        font-size: 16px;
        margin: 0;
        margin-left: 14px;
        margin-top: 15px;
    }

    .product-card__price-container--slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-top: 38px;
    }

    .product-card__price--slider {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
    }

    .button--slider {
        width: 200px;
        height: 40px;
        margin: 0;
        background-color: #18c576;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }


    .icon-container--slider {
        position: absolute;
        right: 10px;
        display: flex;
        font-size: 20px;
        color: white;
    }

    .slider-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .slider-dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .slider-dot.active {
        background-color: #000; // Цвет активной доты
    }


    .product-card__label.product-card__label--day.product-card__label--slider {
        width: 103px;
        height: 23px;
        border-radius: 63px;
        padding-top: 8px;
        font-size: 15px;
    }

    .product-card__label.product-card__label--discount.product-card__label--discount-standard.product-card__label--slider {
        height: 18px;
        width: 51px;
        margin-left: 4px;
        border-radius: 50px;
        padding-top: 5px;
    }
}